*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://res.cloudinary.com/dytikxulw/image/upload/v1719832418/thumb-1920-723860_y0quyh.jpg");
    background-size: cover;
    height: 100vh;
    border-image: fill 0 linear-gradient(#2f337e88,#fbeaebda);

}

.container {
    background-color: rgba(36, 36, 36, 0.734);
    box-shadow: 0px 0px 10px #ff00f2,0px 0px 0px #ff00f2 inset;
    border:2px solid #ff00b7;
    
    
    
    width: 70%;
    min-width: 500px;
    height: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer-display {
    position: absolute;
    width: 92%;
    background: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #190415;
    font-size: 40px;
    left: 4%;
    padding: 40px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin-top: 250px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #18bc33;
    color: #fff;
    border: none;
    font-family: "poppins";
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover .stars{
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);

}
.buttons button:nth-last-child(2) {
    background-color: #e35209;
}

.buttons button:nth-last-child(1) {
    background-color: rgba(186, 25, 10, 0.925);
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(232, 34, 12, 0.597);
}
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #ffffff92;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

